@model ReservationSystemDraft_v1.Areas.Admin.Models.Table.Edit

@{
    ViewData["Title"] = "Edit Table";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTable" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" value="@Model.Capacity" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" asp-items="Model.AreaOptions" class="form-control">
                    <option value="">Please select an area</option>
                </select>
                <span asp-validation-for="AreaId" class="text-danger">*</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="hidden" asp-for="AreaName" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

